header {background-color: black

}
h1 {text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: cornflowerblue;}
main{background-color: lightgray;}
 body{ background-image: url("record.png");
 background-repeat: repeat-x;
}
